# Environment variables
.env

# Backend admin creation script
backend/createAdmin.js

# Upload folders
upload/
backend/upload/

# Node modules
node_modules/
backend/node_modules/

# Routes folder
backend/routes/
routes/